# Importing Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Akira\Documents\Instacart Basket Analysis'

In [7]:
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged_flags.pkl'))

## Aggregating the order_number grouped by department_id

In [8]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Applying the aggregated function to the whole dataframes show that there is orders for each department_id instead of just a selected few. Another note is that the small dataframe ranged from 11-19 orders when now it is ranging from 15-22, which makes more sense. No department item is averaging below 15 orders.

### Creating  a loyalty flag using transform and loc function

In [12]:
# Creating max_order column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Akira\AppData\Local\Temp\ipykernel_12424\1413126721.py:2: FutureWarning: The provided callable <function amax at 0x0000024042AC1C60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,11.114836,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.000000,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10
2,473747,1,3,3,12,21.000000,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10
3,2254736,1,4,4,7,29.000000,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10
4,431534,1,5,4,15,28.000000,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10
5,3367565,1,6,2,7,19.000000,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.000000,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,10
7,3108588,1,8,1,14,14.000000,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,10
8,2295261,1,9,1,16,0.000000,196,4,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,10
9,2550362,1,10,4,8,30.000000,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10
10,2968173,15,15,1,9,7.000000,196,2,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,22
11,1870022,15,17,2,16,8.000000,196,6,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.000000,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.000000,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,22
14,487368,15,22,1,10,14.000000,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,22

In [14]:
# creating loyalty column

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [15]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [16]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [17]:
# checking value counts

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [18]:
# Checking columns

ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

## Determining spending habits between different types of loyal customers

In [20]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

For this analysis, it seems like new customers spend on average higher than loyal customers, with regular customers right behind it. I can make an observation and see guess that new customers are given some sort of first time discount and utilizes it by ordering higher priced items, and loyal customers use instacart for more everyday cheaper items that are just considered to much work to get through a store.

## Create a spending flag based on average price

In [21]:
# Creating an average prices column

ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\Akira\AppData\Local\Temp\ipykernel_12424\2735018340.py:3: FutureWarning: The provided callable <function mean at 0x0000024042AC2980> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [25]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,11.114836,196,1,0,both,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.000000,196,1,1,both,...,77,7,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.000000,196,1,1,both,...,77,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.000000,196,1,1,both,...,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.000000,196,1,1,both,...,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.000000,196,1,1,both,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.000000,196,1,1,both,...,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.000000,196,2,1,both,...,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.000000,196,4,1,both,...,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.000000,196,1,1,both,...,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.000000,196,2,0,both,...,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.000000,196,6,1,both,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.000000,196,1,1,both,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.000000,196,1,1,both,...,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.000000,196,1,1,both,...,77,7,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556

In [27]:
# connecting the average_price column to a new spending flag column

ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low Spender'

In [29]:
ords_prods_merge.loc[ords_prods_merge['average_price'] >=10,'spending_flag']= 'High Spender'

In [33]:
# Checking columns

ords_prods_merge[['user_id', 'spending_flag', 'order_number']].head(80)

    user_id spending_flag  order_number
0         1   Low Spender             1
1         1   Low Spender             2
2         1   Low Spender             3
3         1   Low Spender             4
4         1   Low Spender             5
..      ...           ...           ...
75      120   Low Spender             1
76      120   Low Spender             3
77      185   Low Spender             2
78      195   Low Spender             1
79      195   Low Spender             8

[80 rows x 3 columns]

## Creating a frequency flag based on median of days_since_prior_order

In [34]:
# Creating a median_days_since_prior_order column

ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\Akira\AppData\Local\Temp\ipykernel_12424\3147104168.py:3: FutureWarning: The provided callable <function median at 0x0000024042C03920> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [35]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order
0,2539329,1,1,2,8,11.114836,196,1,0,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.000000
1,2398795,1,2,3,7,15.000000,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.000000
2,473747,1,3,3,12,21.000000,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797,Low Spender,20.000000
3,2254736,1,4,4,7,29.000000,196,1,1,both,...,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.000000
4,431534,1,5,4,15,28.000000,196,1,1,both,...,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low Spender,20.000000
5,3367565,1,6,2,7,19.000000,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.000000
6,550135,1,7,1,9,20.000000,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low Spender,20.000000
7,3108588,1,8,1,14,14.000000,196,2,1,both,...,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low Spender,20.000000
8,2295261,1,9,1,16,0.000000,196,4,1,both,...,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low Spender,20.000000
9,2550362,1,10,4,8,30.000000,196,1,1,both,...,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.000000
10,2968173,15,15,1,9,7.000000,196,2,0,both,...,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low Spender,10.557418
11,1870022,15,17,2,16,8.000000,196,6,1,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.557418
12,1911383,15,18,2,11,7.000000,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.557418
13,2715276,15,21,1,9,7.000000,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low Spender,10.557418
14,487368,15,22,1,10,14.000000,196,1,1,both,...,9.0,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low Spender,10.557418

In [37]:
# connecting the median_days_since_prior_order column to a new frequency flag column

ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [38]:
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20), 'frequency_flag'] = 'Regular customer'

In [42]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [43]:
ords_prods_merge.head(60)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order,frequency_flag
0,2539329,1,1,2,8,11.114836,196,1,0,both,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.000000,Regular customer
1,2398795,1,2,3,7,15.000000,196,1,1,both,...,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.000000,Regular customer
2,473747,1,3,3,12,21.000000,196,1,1,both,...,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367797,Low Spender,20.000000,Regular customer
3,2254736,1,4,4,7,29.000000,196,1,1,both,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.000000,Regular customer
4,431534,1,5,4,15,28.000000,196,1,1,both,...,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367797,Low Spender,20.000000,Regular customer
5,3367565,1,6,2,7,19.000000,196,1,1,both,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.000000,Regular customer
6,550135,1,7,1,9,20.000000,196,1,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low Spender,20.000000,Regular customer
7,3108588,1,8,1,14,14.000000,196,2,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low Spender,20.000000,Regular customer
8,2295261,1,9,1,16,0.000000,196,4,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,10,New customer,6.367797,Low Spender,20.000000,Regular customer
9,2550362,1,10,4,8,30.000000,196,1,1,both,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.000000,Regular customer
10,2968173,15,15,1,9,7.000000,196,2,0,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low Spender,10.557418,Regular customer
11,1870022,15,17,2,16,8.000000,196,6,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.557418,Regular customer
12,1911383,15,18,2,11,7.000000,196,1,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.557418,Regular customer
13,2715276,15,21,1,9,7.000000,196,1,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low Spender,10.557418,Regular customer
14,487368,15,22,1,10,14.000000,196,1,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,22,Regular customer,3.980556,Low Spender,10.557418,Regular customer
15,2293453,19,2,5,14,6.000000,196,3,0,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low Spender,7.000000,Frequent customer
16,1973799,19,5,6,12,8.000000,196,15,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low Spender,7.000000,Frequent customer
17,532817,19,7,4,17,6.000000,196,1,1,both,...,Mid-range product,Least busy,Least busy,Average orders,9,New customer,8.372059,Low Spender,7.000000,Frequent customer
18,1573906,21,10,3,10,6.000000,196,2,0,both,...,Mid-range product,Regularly busy,Least busy,Most orders,33,Regular customer,7.012683,Low Spender,8.000000,Frequent customer
19,1593000,31,10,3,8,7.000000,196,17,0,both,...,Mid-range product,Regularly busy,Least busy,Average orders,20,Regular customer,8.137793,Low Spender,6.000000,Frequent customer
20,2231262,31,17,3,11,8.000000,196,14,1,both,...,Mid-range product,Regularly busy,Least busy,Most orders,20,Regular customer,8.137793,Low Spender,6.000000,Frequent customer
21,2580647,43,6,4,16,4.000000,196,9,0,both,...,Mid-range product,Least busy,Least busy,Most orders,11,Regular customer,7.444898,Low Spender,10.000000,Frequent customer
22,2187180,43,9,4,12,3.000000,196,1,1,both,...,Mid-range product,Least busy,Least busy,Most orders,11,Regular customer,7.444898,Low Spender,10.000000,Frequent customer
23,2497897,52,1,1,9,11.114836,196,4,0,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
24,1318871,52,2,1,10,7.000000,196,5,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
25,1261384,52,3,1,10,7.000000,196,3,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
26,580568,52,5,2,10,8.000000,196,6,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
27,2428073,52,7,2,7,8.000000,196,5,1,both,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
28,342306,52,9,1,11,7.000000,196,5,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
29,1520353,52,10,2,10,8.000000,196,4,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
30,2542086,52,11,2,9,7.000000,196,3,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
31,944694,52,12,1,16,6.000000,196,7,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
32,1268191,52,15,2,11,8.000000,196,3,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
33,1122089,52,17,2,10,6.000000,196,4,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
34,1498922,52,18,2,10,14.000000,196,6,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
35,180919,52,19,3,8,8.000000,196,4,1,both,...,Mid-range product,Regularly busy,Least busy,Average orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
36,2695875,52,21,5,10,30.000000,196,1,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low Spender,8.000000,Frequent customer
37,3205960,67,1,3,11,11.114836,196,1,0,both,...,Mid-range product,Regularly busy,Least busy,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
38,970922,67,2,1,15,5.000000,196,2,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
39,596585,67,3,1,13,7.000000,196,2,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
40,2037087,67,4,2,9,8.000000,196,1,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
41,2474111,67,5,3,14,8.000000,196,2,1,both,...,Mid-range product,Regularly busy,Least busy,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
42,1568481,67,6,3,12,7.000000,196,2,1,both,...,Mid-range product,Regularly busy,Least busy,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
43,2048527,67,8,2,11,7.000000,196,1,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
44,2389031,67,9,2,14,7.000000,196,1,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
45,2378562,67,10,1,10,6.000000,196,1,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
46,1515698,67,11,1,11,7.000000,196,1,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
47,1928050,67,12,2,12,8.000000,196,1,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
48,1949274,67,13,1,10,6.000000,196,1,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
49,551869,67,14,1,9,7.000000,196,1,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
50,768572,67,16,4,10,9.000000,196,1,1,both,...,Mid-range product,Least busy,Least busy,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
51,150528,67,18,5,16,4.000000,196,1,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
52,29758,67,19,0,14,9.000000,196,2,1,both,...,Mid-range product,Busiest day,Busiest day,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
53,1558976,67,21,1,9,5.000000,196,2,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
54,863974,67,22,1,11,14.000000,196,3,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
55,2308399,67,23,1,14,14.000000,196,1,1,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,24,Regular customer,7.656790,Low Spender,7.000000,Frequent customer
56,2759128,81,3,1,9,14.000000,196,2,0,both,...,Mid-range product,Regularly busy,Busiest day,Most orders,7,New customer,8.165385,Low Spender,30.000000,Non-frequent customer
57,1812985,81,5,2,20,30.000000,196,1,1,both,...,Mid-range product,Regularly busy,Regularly busy,Average orders,7,New customer,8.165385,Low Spender,30.000000,Non-frequent customer
58,1889835,82,1,3,15,11.114836,196,6,0,both,...,Mid-range product,Regularly busy,Least busy,Most orders,19,Regular customer,6.441221,Low Spender,11.114836,Regular customer
59,499460,82,3,5,10,5.000000,196,2,1,both,...,Mid-range product,Regularly busy,Regularly busy,Most orders,19,Regular customer,6.441221,Low Spender,11.114836,Regular customer

## Exporting dataframe to pickle format

In [44]:
ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged_flags_updated.pkl'))